body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #060010;
  color: #eaeaea;
}


.section {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}


h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
  margin: 4px 0;
}

.project {
  background: rgb(40, 10, 40);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.navbar {
  background: rgba(6, 0, 16, 0.85);
  backdrop-filter: blur(10px);
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.nav-links a:hover {
  color: #007bff;
}

#contact {
  background: transparent;
  margin-bottom: 60px;
}


#contact a {
  color: #007bff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}
#home {
  background-color: #060010; /* fallback */
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}


.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0.5;
}


.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 20px;
}
